@media only screen 
and (min-width : 994px) 
{
    .display{
        float: left;
        width : 25%
    }
    .thumnail{
        width : 100%;
        height: 10vw;
    }
    .card {
        display: flex;
        height: 20vw;
        flex-flow: column wrap;
        align-content: flex-start;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: pre-wrap; 
    }
    .footer {
        position: fixed;
        left : 50%;
        bottom : 0 ;
    }

}
@media only screen 
and (max-width : 994px) and (min-width : 600px)
{
    .display{
        float: left;
        width : 33%
    }
    .thumnail{
        width : 100%;
        height: 10vw;
    }
    .card {
        display: flex;
        height: 20vw;
        flex-flow: column wrap;
        align-content: flex-start;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: pre-wrap; 
    }
    .footer {
        position: fixed;
        left: 50%;
        bottom: 0;
      }

}
@media only screen
and (max-width : 600px)
{
    .thumnail{
        width : 100%;
        height : 30vw;
    }
    .card {
        display: flex;
        height: 60vw;
        flex-flow: column wrap;
        align-content: flex-start;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: pre-line; 
    }
    .footer {
        position: fixed;
        left : 50%;
        bottom : 0 ;
    }

}